:root {
}

.menuButton {
    border-left-color: rgb(193, 103, 103);
    border-right-color: rgb(193, 103, 103);
    border-top-color: rgb(204, 106, 106);
    border-bottom-color: rgb(185, 100, 100);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgb(248, 188, 137);
    -unity-text-outline-width: 2px;
    font-size: 40px;
    -unity-font-style: normal;
    -unity-text-outline-color: rgb(135, 103, 193);
    -unity-text-align: upper-center;
    margin-bottom: 10px;
    margin-top: 10px;
    -unity-font-definition: url("project://database/Packages/com.unity.collab-proxy/Editor/Assets/Fonts/Cascadia.ttf?fileID=12800000&guid=9229ae5dbc38f488d921156ff75869e9&type=3#Cascadia");
    color: rgb(135, 103, 193);
    transition-duration: 0.1s;
}

.menuButton:hover {
    scale: 1.1 1.1 1.1;
    background-color: rgb(250, 221, 100);
    border-left-color: rgb(246, 194, 87);
    border-right-color: rgb(245, 194, 87);
    border-top-color: rgb(250, 198, 89);
    border-bottom-color: rgb(238, 190, 89);
    color: rgb(214, 126, 52);
    -unity-text-outline-color: rgb(215, 126, 52);
}

.menuButton:active {
    border-left-color: rgb(68, 161, 136);
    border-right-color: rgb(68, 162, 137);
    border-top-color: rgb(68, 166, 138);
    border-bottom-color: rgb(61, 156, 130);
    background-color: rgb(171, 236, 155);
    scale: 1.05 1.05 1.05;
    color: rgb(40, 166, 96);
    -unity-text-outline-color: rgb(40, 166, 96);
    transition-duration: 0.1s;
}

.levelSelectButton {
    -unity-font-style: bold;
    font-size: 100px;
    background-color: rgba(255, 255, 255, 0.502);
    color: rgb(0, 0, 0);
    width: 12%;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    border-left-width: 20px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
    margin-top: 48px;
    margin-right: 48px;
    margin-bottom: 45px;
    margin-left: 48px;
    transition-duration: 0.1s;
}

.levelSelectButton:hover {
    -unity-font-style: bold;
    font-size: 100px;
    background-color: rgba(153, 233, 241, 0.784);
    color: rgba(235, 251, 253, 0.784);
    border-left-color: rgb(63, 133, 140);
    border-right-color: rgb(63, 133, 140);
    border-top-color: rgb(63, 133, 140);
    border-bottom-color: rgb(63, 133, 140);
}

.levelSelectButton:active {
    -unity-font-style: bold;
    font-size: 100px;
    background-color: rgba(157, 214, 150, 0.784);
    color: rgb(214, 238, 212);
    border-left-color: rgb(58, 118, 52);
    border-right-color: rgb(58, 118, 52);
    border-top-color: rgb(58, 118, 52);
    border-bottom-color: rgb(58, 118, 52);
    transition-duration: 0.1s;
    scale: 0.9 0.9 0.9;
}

.levelSelectButton:disabled {
    -unity-font-style: bold;
    font-size: 100px;
    background-color: rgba(15, 19, 34, 0.478);
    color: rgb(195, 195, 195);
    width: 12%;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.levelSelectLanguageButton {
    border-left-color: rgb(65, 65, 65);
    border-right-color: rgb(65, 65, 65);
    border-top-color: rgb(65, 65, 65);
    border-bottom-color: rgb(65, 65, 65);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    scale: 5 5 5;
}

.levelSelectLanguageButton:hover {
    border-left-color: rgb(171, 171, 171);
    border-right-color: rgb(171, 171, 171);
    border-top-color: rgb(171, 171, 171);
    border-bottom-color: rgb(171, 171, 171);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    scale: 5 5 5;
}

.levelSelectLanguageButton:checked {
    border-left-color: rgb(255, 213, 0);
    border-right-color: rgb(255, 213, 0);
    border-top-color: rgb(255, 213, 0);
    border-bottom-color: rgb(255, 213, 0);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    scale: 5 5 5;
}

.levelSelectLanguageButton:disabled {
    border-left-color: rgba(65, 65, 65, 0.784);
    border-right-color: rgba(65, 65, 65, 0.784);
    border-top-color: rgba(65, 65, 65, 0.784);
    border-bottom-color: rgba(65, 65, 65, 0.784);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    scale: 5 5 5;
}

.choiceButton {
    width: 650px;
    height: 70px;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    -unity-font-style: normal;
    font-size: 30px;
    -unity-font-definition: url("project://database/Packages/com.unity.collab-proxy/Editor/Assets/Fonts/Cascadia.ttf?fileID=12800000&guid=9229ae5dbc38f488d921156ff75869e9&type=3#Cascadia");
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-overflow: ellipsis;
}

.choiceButton:hover {
    width: 300px;
    height: 70px;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    -unity-font-style: normal;
    font-size: 30px;
    -unity-font-definition: url("project://database/Packages/com.unity.collab-proxy/Editor/Assets/Fonts/Cascadia.ttf?fileID=12800000&guid=9229ae5dbc38f488d921156ff75869e9&type=3#Cascadia");
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.choiceButton:active {
    width: 300px;
    height: 70px;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left-color: rgb(219, 255, 136);
    border-right-color: rgb(219, 255, 136);
    border-top-color: rgb(219, 255, 136);
    border-bottom-color: rgb(219, 255, 136);
    background-color: rgb(219, 255, 136);
    -unity-font-style: normal;
    font-size: 30px;
    -unity-font-definition: url("project://database/Packages/com.unity.collab-proxy/Editor/Assets/Fonts/Cascadia.ttf?fileID=12800000&guid=9229ae5dbc38f488d921156ff75869e9&type=3#Cascadia");
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgb(78, 101, 35);
    color: rgb(78, 101, 35);
}

.textMenu {
    color: rgba(255, 255, 255, 0.502);
    -unity-text-outline-color: rgba(255, 255, 255, 0.502);
    -unity-text-outline-width: 4px;
    font-size: 28px;
    -unity-font-definition: url("project://database/Packages/com.unity.collab-proxy/Editor/Assets/Fonts/Cascadia.ttf?fileID=12800000&guid=9229ae5dbc38f488d921156ff75869e9&type=3#Cascadia");
}

.PAUSE_MENU {
    background-color: rgba(0, 0, 0, 0.784);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.customizeText {
    color: rgb(0, 0, 0);
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-text-outline-width: 4px;
    -unity-text-align: upper-center;
    font-size: 40px;
    -unity-font-definition: url("project://database/Packages/com.unity.collab-proxy/Editor/Assets/Fonts/Cascadia.ttf?fileID=12800000&guid=9229ae5dbc38f488d921156ff75869e9&type=3#Cascadia");
}

.customizationButton {
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    -unity-text-outline-width: 2px;
    font-size: 40px;
    -unity-font-style: bold;
    -unity-text-outline-color: rgb(135, 103, 193);
    -unity-text-align: upper-center;
    margin-bottom: 10px;
    margin-top: 10px;
    -unity-font-definition: url("project://database/Packages/com.unity.collab-proxy/Editor/Assets/Fonts/Cascadia.ttf?fileID=12800000&guid=9229ae5dbc38f488d921156ff75869e9&type=3#Cascadia");
    color: rgb(135, 103, 193);
    width: 100px;
    height: 100px;
    border-left-color: rgba(0, 0, 0, 0.392);
    border-right-color: rgba(0, 0, 0, 0.392);
    border-top-color: rgba(0, 0, 0, 0.392);
    border-bottom-color: rgba(0, 0, 0, 0.392);
}

.customizationButton:hover {
    border-left-color: rgb(254, 255, 103);
    border-right-color: rgb(254, 255, 103);
    border-top-color: rgb(254, 255, 103);
    border-bottom-color: rgb(254, 255, 103);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    -unity-text-outline-width: 2px;
    font-size: 40px;
    -unity-font-style: bold;
    -unity-text-outline-color: rgb(135, 103, 193);
    -unity-text-align: upper-center;
    margin-bottom: 10px;
    margin-top: 10px;
    -unity-font-definition: url("project://database/Packages/com.unity.collab-proxy/Editor/Assets/Fonts/Cascadia.ttf?fileID=12800000&guid=9229ae5dbc38f488d921156ff75869e9&type=3#Cascadia");
    color: rgb(135, 103, 193);
    width: 100px;
    height: 100px;
}

.customizationButton:focus {
    border-left-color: rgb(255, 203, 0);
    border-right-color: rgb(255, 203, 0);
    border-top-color: rgb(255, 203, 0);
    border-bottom-color: rgb(255, 203, 0);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    -unity-text-outline-width: 2px;
    font-size: 40px;
    -unity-font-style: bold;
    -unity-text-outline-color: rgb(135, 103, 193);
    -unity-text-align: upper-center;
    margin-bottom: 10px;
    margin-top: 10px;
    -unity-font-definition: url("project://database/Packages/com.unity.collab-proxy/Editor/Assets/Fonts/Cascadia.ttf?fileID=12800000&guid=9229ae5dbc38f488d921156ff75869e9&type=3#Cascadia");
    color: rgb(135, 103, 193);
    width: 100px;
    height: 100px;
}

.backgroundCustomBox {
    -unity-material: url("project://database/Assets/Resources/Art/Shaders/MenuShader.shadergraph?fileID=-876546973899608171&guid=05b13368345f6054abea596e8df069f5&type=3#MenuShader") prop("_Scale" 50) prop("_Speed" 0.1) prop("_Color_1" rgb(0, 253, 255)) prop("_Color_2" rgb(0, 210, 255)) prop("_Color_3" rgb(255, 255, 255)) prop("_Color_4" rgb(0, 231, 255));
    border-left-color: rgb(25, 78, 99);
    border-right-color: rgb(25, 78, 99);
    border-top-color: rgb(25, 78, 99);
    border-bottom-color: rgb(25, 78, 99);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(101, 183, 182);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    align-items: center;
    align-self: center;
    justify-content: center;
    position: absolute;
}

.menuButtonWarning {
    border-left-color: rgb(193, 103, 103);
    border-right-color: rgb(193, 103, 103);
    border-top-color: rgb(204, 106, 106);
    border-bottom-color: rgb(185, 100, 100);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgb(193, 103, 103);
    -unity-text-outline-width: 2px;
    font-size: 40px;
    -unity-font-style: normal;
    -unity-text-outline-color: rgb(135, 103, 193);
    -unity-text-align: upper-center;
    margin-bottom: 10px;
    margin-top: 10px;
    -unity-font-definition: url("project://database/Packages/com.unity.collab-proxy/Editor/Assets/Fonts/Cascadia.ttf?fileID=12800000&guid=9229ae5dbc38f488d921156ff75869e9&type=3#Cascadia");
    color: rgb(135, 103, 193);
    transition-duration: 0.1s;
}

.menuButtonWarning:hover {
    background-color: rgb(250, 221, 100);
    border-left-color: rgb(246, 194, 87);
    border-right-color: rgb(245, 194, 87);
    border-top-color: rgb(250, 198, 89);
    border-bottom-color: rgb(238, 190, 89);
    color: rgb(214, 126, 52);
    -unity-text-outline-color: rgb(215, 126, 52);
}

.menuButtonWarning:active {
    border-left-color: rgb(68, 161, 136);
    border-right-color: rgb(68, 162, 137);
    border-top-color: rgb(68, 166, 138);
    border-bottom-color: rgb(61, 156, 130);
    background-color: rgb(171, 236, 155);
    color: rgb(40, 166, 96);
    -unity-text-outline-color: rgb(40, 166, 96);
    scale: 0.9 0.9 0.9;
    transition-duration: 0.1s;
}
